@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$ff-primary: 'Poppins', sans-serif;
$clr-primary: #D895FF;
$clr-secondary: #160F1A;
$clr-gray: #6D7580;

*{
    font-family: $ff-primary;
}

body{
    user-select: none;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: $clr-gray;
    border-radius: 50px;
}

// ******************************* components *******************************
.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    .mobile-toggler{
        background: $clr-primary !important;
        color: white !important;
    }
}

.hero{
    background-color: $clr-secondary;
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 50px;
    color: white;
    position: relative;
    z-index: 2;
    .mobile-item{
        position: relative;
        .mobile-img{
            height: 600px;
            position: absolute;
            bottom: -10rem;
            left: 5rem;
        }
    }

    @media only screen and (max-width: 1180px){
        .mobile-img{
            left: 0 !important;
        }
    }
}

.icon-button{
    border: 1px solid $clr-primary;
    border-radius: 6px;
    &:hover{
        background-color: $clr-primary !important;
    }
}

.analytics{
    table{
        margin: auto;
        td{
            padding: 1rem 2rem;
        }
    }
}

@mixin button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 24px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
}
.button{
    @include button();
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%);
}
.white-button{
    @include button();
    border: 1px solid white;
}

.crypto-com{
    padding: 100px 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(22, 15, 26, 0.5), rgba(22, 15, 26, 0.5)), url('./media/bg1.png') no-repeat;
    background-position: center;
    margin: 8rem 0;
    color: white;
}

.trade{
    padding: 100px 10px;
    background-color: $clr-secondary;
    color: white;
}

// ******************************* overrides *******************************


// ******************************* utils *******************************
.text-gray{
    color: $clr-gray;
}
.text-primary{
    color: $clr-primary;
}
.bg-secondary{
    background-color: #160F1A !important;
}
.text-grad{
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}