@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$ff-primary: 'Poppins', sans-serif;
$clr-primary: #D895FF;
$clr-secondary: #160F1A;
$clr-gray: #6D7580;

*{
    font-family: $ff-primary;
}

body{
    user-select: none;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: $clr-gray;
    border-radius: 50px;
}

// ******************************* components *******************************
.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    .mobile-toggler{
        background: $clr-primary !important;
        color: white !important;
    }
}

.hero{
    background-color: $clr-secondary;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    padding-top: 200px;
    padding-bottom: 50px;
    color: white;
    position: relative;
    z-index: 2;
    .mobile-item{
        position: relative;
        .mobile-img{
            height: 600px;
            position: absolute;
            bottom: -10rem;
            left: 5rem;
        }
    }

    @media only screen and (max-width: 1180px){
        .mobile-img{
            left: 0 !important;
        }
    }
}

.icon-button{
    border: 1px solid $clr-primary;
    border-radius: 6px;
    &:hover{
        background-color: $clr-primary !important;
    }
}

.analytics{
    table{
        margin: auto;
        td{
            padding: 1rem 2rem;
        }
    }
}

@mixin button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 24px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
}
.button{
    @include button();
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%);
}
.white-button{
    @include button();
    border: 1px solid white;
}

.crypto-com{
    padding: 100px 10px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(22, 15, 26, 0.5), rgba(22, 15, 26, 0.5)), url('./media/bg1.png') no-repeat;
    background-position: center;
    margin: 8rem 0;
    color: white;
}

.trade{
    padding: 100px 10px;
    padding-bottom: 250px;
    background-color: $clr-secondary;
    color: white;
}

.trade-sub-section{
    position: relative;
    top: -150px;
}

.vision{
    min-height: 600px;
    background: url('./media/bg2.png') no-repeat center center/cover;
    padding: 200px 2px;
    position: relative;
    .overlay{
        position: absolute;
        top: 0;left: 0;bottom: 0;right: 0;
        background: rgba(11, 14, 17, 0.5);
        backdrop-filter: blur(7.5px);
    }
    .container{
        position: relative;
        z-index: 10;
        text-align: center;
        color: white;
    }
}

.footer{
    background-color: $clr-secondary;
    color: $clr-gray;
    a,p{
        display: block;
        font-size: 16px;
        margin-bottom: 0.4rem;
    }
    h4{
        margin-bottom: 2rem;
        color: white;
        font-size: 18px;
    }
    .icons{
        font-size: 20px;
        svg{
            margin-inline-start: 0;
        }
    }
}

.contact{
    input, textarea{
        &:focus{
            border-color: $clr-primary !important;
            outline: unset;
            box-shadow: 1px 1px 2px $clr-secondary;
        }
    }
}

// ******************************* overrides *******************************
.ch-button{
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important; 
    color: white;
}

// ******************************* utils *******************************
.text-gray{
    color: $clr-gray;
}
.text-primary{
    color: $clr-primary;
}
.bg-secondary{
    background-color: #160F1A !important;
}
.text-grad{
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}